<h2>Commodity Rates</h2>
<hr>
<table>
  <tr>
    <th colspan="2">Enter Commodity Rates for each item</th>
  </tr>
  <tr>
    <td>Rice</td>
    <td><input id="riceRate" class="rice" type="number"></td>
  </tr>
  <tr>
    <td>Wheat</td>
    <td><input id="wheatRate" class="wheat" type="number"></td>
  </tr>
  <tr>
    <td>Kerosene</td>
    <td><input id="keroseneRate" class="kerosene" type="number"></td>
  </tr>
  <tr>
    <td>User Category</td>
    <td><input type="radio" value="Above Poverty Line" id="abovePoverty" class="radioBtn">Above Poverty Line<br><input type="radio" value="Below Poverty Line" id="belowPoverty" class="radioBtn">Below Poverty Line</td>
  </tr>
</table>
<div style="text-align: center;margin-top:20px ">
  <button class="submitBtn" id="commoditySubmit">Submit</button>
</div>