<h2>Ration Allocation to consumers</h2>
<hr>
<div style="margin-bottom: 10px">
  <label style="font-weight: bold">Enter Ration Card ID :  </label>
  <input style="margin-left: 70px;width: 125px;" id="rationIDNumber" [(ngModel)]="ration.rationNumber" type="text" maxlength="10" required/>
  <button class="rationNumsubmitBtn" id="commoditySubmit" (click)="loadUserInformation()">Load Information</button>
</div>
<table class="rationUserTbl">
  <tr>
    <th colspan="2">User Information</th>
  </tr>
  <tr>
    <td>User ID</td><td>{{individualDetails.UserId}}</td>
  </tr>
  <tr>
      <td>User Name</td><td>{{individualDetails.UserName}}</td>
    </tr>
  <tr>
      <td>Category</td><td>{{individualDetails.UserCategory}}</td>
  </tr>
  <tr>
      <td>Number of dependents</td><td>{{individualDetails.NoOfDependents}}</td>
  </tr>
</table>
<div style="text-align: center;margin-top:20px;">
  <button class="submitBtn" id="commoditySubmit" (click)="commoditySubmit()">Submit</button>
</div>
