<h2>Allocate stocks to sellers</h2>
<hr>
<div style="margin-bottom: 10px">
  <label style="font-weight: bold">Select Seller : </label>
  <select style="margin-left: 70px;width: 125px;" (change)="onChange($event)" >
    <option *ngFor="let user of shopkeeperDetails" value={{user.address}}  selected={{user.selected}} [(ngModel)]="stock.ShopKeeperAddress">{{user.UserName}}</option>
  </select>
</div>
<table>
  <tr>
    <th>Resource</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>Rice</td>
    <td>
      <input id="riceRate" class="rice" type="number" [(ngModel)]="stock.Rice">
    </td>
  </tr>
  <tr>
    <td>Wheat</td>
    <td>
      <input id="wheatRate" class="wheat" type="number" [(ngModel)]="stock.Wheat">
    </td>
  </tr>
  <tr>
    <td>Kerosene</td>
    <td>
      <input id="keroseneRate" class="kerosene" type="number" [(ngModel)]="stock.Kerosene">
    </td>
  </tr>
</table>
<div style="text-align: center;margin-top:20px ">
  <button class="submitBtn" id="stockAllocate" (click)="stockAllocate()">Submit</button>
</div>