/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color:#fff;
    
}
.memeberBtn{
	background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 600;
}
.memeberBtn:hover,
.memeberBtn:focus,
.memeberBtn:active,
.memeberBtn:visited{
	color: #333 !important;
	outline: none;
}
.memeberBtn i{
	margin-right: 12px;
    padding-left: 4px;
}
.memeberBtn > span{
    display: inline-block;
    margin-right: 8px;
}.multiline label, .memeberBtn, .floating-label{
    font-weight:500;
}
.memeberBtn i{
    color:lightgrey;
}

.required {
    color: red !important;
    opacity: 1;
    top: -18px;
  }

  .valid {
    color: #03a9f4;
    opacity: 1;
    top: -18px;
  }

  .btn-blue{
	background-color:#2963ce;
	color: #fff;
}

.btn.btn-lg.btn-blue{
	background-color:#2b66dc;
	color: #fff;
}